# Supabase Config (Public)
PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=tu-llave-publica

# Supabase Config (Private/Secret)
# La SERVICE ROLE KEY es necesaria para borrar usuarios o acciones de admin
PRIVATE_SUPABASE_SECRET_KEY=tu-llave-secreta

# Database Config (Drizzle)
DATABASE_URL=postgres://postgres:password@db.tu-proyecto.supabase.co:5432/postgres

# Environment
NODE_ENV=production