@import 'tailwindcss';
@import "tw-animate-css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--background: #B8C4C1;
	--foreground: #000000;
	--card: #C8D4D1;
	--card-foreground: #000000;
	--popover: #C8D4D1;
	--popover-foreground: #000000;
	--primary: #0F766E;
	--primary-foreground: #B8C4C1;
	--secondary: #A8B4B1;
	--secondary-foreground: #000000;
	--muted: #A8B4B1;
	--muted-foreground: #2D3836;
	--accent: #98A4A1;
	--accent-foreground: #000000;
	--destructive: #BE123C;
	--border: #3D4846;
	--input: #3D4846;
	--ring: #0F766E;
	--radius: 0.5rem;
    --bg-icon: #5EEAD4;
}

.dark {
	--background: #05080B;
	--foreground: #F9FAFB;
	--card: #0C1013;
	--card-foreground: #F9FAFB;
	--popover: #0C1013;
	--popover-foreground: #F9FAFB;
	--primary: #00C2A8;
	--primary-foreground: #05080B;
	--secondary: #080C0F;
    --bg-icon: #041B1B;
	--secondary-foreground: #F9FAFB;
	--muted: #1F2937;
	--muted-foreground: #9CA3AF;
	--accent: #1F2937;
	--accent-foreground: #F9FAFB;
	--destructive: #EF4444;
	--border: rgba(255, 255, 255, 0.1);
	--input: rgba(255, 255, 255, 0.15);
	--ring: #00C2A8;
}

@theme inline {
	--font-mono: 'JetBrains Mono Variable', monospace;
	--font-secondary: 'Sans-Serif';
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
    --color-icon: var(--bg-icon)
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-mono;
	}
	
}

@custom-variant data-open {
	&:where([data-state="open"]), &:where([data-open]:not([data-open="false"])) {
		@slot;
	}
}

@custom-variant data-closed {
	&:where([data-state="closed"]), &:where([data-closed]:not([data-closed="false"])) {
		@slot;
	}
}

@custom-variant data-checked {
	&:where([data-state="checked"]), &:where([data-checked]:not([data-checked="false"])) {
		@slot;
	}
}

@custom-variant data-unchecked {
	&:where([data-state="unchecked"]), &:where([data-unchecked]:not([data-unchecked="false"])) {
		@slot;
	}
}

@custom-variant data-selected {
	&:where([data-selected]) {
		@slot;
	}
}

@custom-variant data-disabled {
	&:where([data-disabled="true"]), &:where([data-disabled]:not([data-disabled="false"])) {
		@slot;
	}
}

@custom-variant data-active {
	&:where([data-state="active"]), &:where([data-active]:not([data-active="false"])) {
		@slot;
	}
}

@custom-variant data-horizontal {
	&:where([data-orientation="horizontal"]) {
		@slot;
	}
}

@custom-variant data-vertical {
	&:where([data-orientation="vertical"]) {
		@slot;
	}
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
